* {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  color: black;
  font-style: light;
  text-align: center-left;

}

h1 {
    color: #732525;
    font-size: 40px;
    font-style: regular;
    text-align: center;
}